@model Prisma.Models.IdeologicalAnalysis

<div class="compass-grid" id="ideologicalCompass">
    <!-- Il grafico viene renderizzato qui da JavaScript -->
</div>

<div class="compass-legend mt-4">
    <div class="legend-item">
        <span class="legend-marker current"></span>
        <span>Articolo corrente</span>
    </div>
    <div class="legend-item">
        <span class="legend-marker other"></span>
        <span>Altri articoli analizzati</span>
    </div>
    <div class="legend-item">
        <span class="legend-marker saved"></span>
        <span>Articoli salvati</span>
    </div>
</div>